{% extends 'assets/index_v2.html' %}
{% load staticfiles %}
{% block top_css %}
    <link href="{% static 'plugins/DataTables-1.10.12/media/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/DataTables-1.10.12/extensions/Responsive/css/responsive.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/select2_custom.css' %}" rel="stylesheet">
{% endblock %}

{% block page_title %}
资产审批
{% endblock %}

{% block page_breadcrumb %}
    <ol class="breadcrumb bread-nav">
        <li><a href="/">Home</a></li>
        <li><a href="{% url 'asset:index' %}">资产</a></li>
        <li class="active">资产审批</li>
    </ol>
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            {% if request.user.is_admin %}
                <!-- SEARCH BOX -->
                <!--===================================================-->
                <div class="row" style="padding:0 7.5px;">
                    <div class="input-group form-group pull-right" style="width: 250px;">
                        <input type="text" class="form-control" placeholder="模糊查询" id="fuzzy-search">
                        <span class="input-group-btn">
                        <button class="btn btn-default" id="btn-simple-search"><i class="fa fa-search"></i></button>
                        <button class="btn btn-default" title="高级查询" data-toggle="collapse" id="toggle-advanced-search" data-target="#div-advanced-search" aria-expanded="false" aria-controls="div-advanced-search">
                            <i class="fa fa-angle-double-down"></i>
                        </button>
                        </span>
                    </div>
                    {% block head-left-button %}
                        <button class="btn btn-danger" id="btn-batch-delete"><i class="fa fa-remove"></i>批量删除</button>
                        <button class="btn btn-primary" id="btn-batch-approve"><i class="fa fa-check-square-o"></i>批量入库</button>
                    {% endblock %}
                </div>
                <div class="collapse" id="div-advanced-search">
                    <div class="well info-content">
                        <form id="advanced-search-form">
                            {% for field in search_form.form %}
                                <div class="control-group">
                                    <label for="{{ field.auto_id }}" class="control-label">{{ field.label }}：</label>
                                    <div class="controls">
                                        {{ field }}
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="control-group">
                                <button type="button" class="btn btn-primary" id="btn-advanced-search"><i class="fa fa-search"></i>查询</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- END OF SEARCH BOX -->

                <!-- ASSET INFO PANEL -->
                <!--===================================================-->
                <div class="panel panel-success" id="info-panel-tab">

                    <!--Panel heading-->
                    <div class="panel-heading">
                        <div class="panel-control">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a data-toggle="tab" href="#asset-info-tab">
                                        资产详情
                                    </a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#raw-data-tab">
                                        原始数据
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <h3 class="panel-title"></h3>
                    </div>

                    <!--Panel Body-->
                    <div class="panel-body">
                        <div class="tab-content">
                            <div id="asset-info-tab" class="tab-pane fade in active">
                                <div class="media">
                                    <div class="media-body">
                                        <div class="block-content info-content clearfix" id="asset-info-view">
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <label class="prop-name">ID:</label>
                                                    <div class="prop-value" id="id-view"></div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <label class="prop-name">SN:</label>
                                                    <div class="prop-value" id="sn-view"></div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <label class="prop-name">资产类型:</label>
                                                    <div class="prop-value" id="asset-type-view"></div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <label class="prop-name">制造商:</label>
                                                    <div class="prop-value" id="manufacturer-view"></div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <label class="prop-name">型号:</label>
                                                    <div class="prop-value" id="model-view"></div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <label class="prop-name">CPU型号:</label>
                                                    <div class="prop-value" id="cpu-model-view"></div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <label class="prop-name">CPU数:</label>
                                                    <div class="prop-value" id="cpu-count-view"></div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <label class="prop-name">CPU核数:</label>
                                                    <div class="prop-value" id="cpu-core-count-view"></div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <label class="prop-name">内存(MB):</label>
                                                    <div class="prop-value" id="ram-size-view"></div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <label class="prop-name">系统类型:</label>
                                                    <div class="prop-value" id="os-type-view"></div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <label class="prop-name">发行版本:</label>
                                                    <div class="prop-value" id="os-distribution-view"></div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <label class="prop-name">系统版本:</label>
                                                    <div class="prop-value" id="os-release-view"></div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <label class="prop-name">汇报日期:</label>
                                                    <div class="prop-value" id="report-date-view"></div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <label class="prop-name">审批状态:</label>
                                                    <div class="prop-value" id="status-view"></div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <label class="prop-name">审批人:</label>
                                                    <div class="prop-value" id="approved-by-view"></div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <label class="prop-name">审批日期:</label>
                                                    <div class="prop-value" id="approved-date-view"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="raw-data-tab" class="tab-pane fade">
                                <div class="media">
                                    <div class="media-body">
                                        <pre id="asset-raw-data-view">
                                        </pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- END OF ASSET INFO PANEL -->

                <!-- DATA TABLE -->
                <!--===================================================-->
                <div class="row">
                    <div class="col-md-12" id="div-table-container">
                        <table id="asset-dataTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th><input type="checkbox" name="check-all" title="全选" class="solo-checkbox"><label for="check-all"></label></th>
                                <th>ID</th>
                                <th>SN</th>
                                <th>资产类型</th>
                                <th>型号</th>
                                <th>制造商</th>
                                <th>汇报日期</th>
                                <th>审批状态</th>
                                <th>审批人</th>
                                <th>审批日期</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                            <tfoot>
                            <tr>
                                <th><input type="checkbox" name="check-all" title="全选" class="solo-checkbox"><label for="check-all"></label></th>
                                <th>ID</th>
                                <th>SN</th>
                                <th>资产类型</th>
                                <th>型号</th>
                                <th>制造商</th>
                                <th>汇报日期</th>
                                <th>审批状态</th>
                                <th>审批人</th>
                                <th>审批日期</th>
                                <th>操作</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <!--===================================================-->
                <!-- END OF DATA TABLE -->

            {% else %}
                <p>只有管理员可以审批资产</p>
            {% endif %}
        </div>
    </div>
    {% csrf_token %}
{% endblock %}

{% block bottom_js %}
    <script src="{% static 'plugins/DataTables-1.10.12/media/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/DataTables-1.10.12/media/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/DataTables-1.10.12/extensions/Responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'plugins/DataTables-1.10.12/extensions/Responsive/js/responsive.bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js' %}" ></script>
    <script src="{% static 'plugins/select2/dist/js/select2.min.js' %}" ></script>
    <script src="{% static 'js/jquery.spin.merge.js' %}"></script>
    <!-- lhgdialog -->
    <script src="/static/plugins/lhgdialog-4.2.0/lhgdialog.js?skin=bootstrap2"></script>
    <script src="{% static 'js/form-json-serializer.js' %}"></script>
    <script src="{% static 'js/constant.js' %}" ></script>
    <script src="{% static 'js/asset-approval.js' %}" ></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#mainnav-menu a[href='/']").parent().removeClass('active-link');
            $("#mainnav-menu a[href='{% url 'asset:index' %}']").parent().parent().parent().addClass('active-sub');
            $("#mainnav-menu a[href='{% url 'asset:index' %}']").parent().parent().addClass('in');
            $(".select-single").select2();

            $('.form-datetime').datetimepicker({
                minView: "month",
                language: 'zh-CN',
                autoclose:true,
                format: 'yyyy-mm-dd',
                todayBtn: true
            })
        });
    </script>
    {% block asset_bottom_js %}
        <script type="text/javascript">
            (function () {
                $("#mainnav-menu a[href='{% url 'asset:asset_approval' %}']").parent().addClass('active-link');
                $("#mainnav-menu a[href='{% url 'asset:asset_approval' %}']").parent().parent().addClass('in');
            }())
        </script>
    {% endblock %}
{% endblock %}
