<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/nifty.css">
    <link rel="stylesheet" href="../../static/css/font-awesome.css">

    <script src="../../static/js/jquery-2.2.3.min.js"></script>
    <script src="../../static/js/bootstrap.min.js"></script>
    <script src="../../static/js/nifty.js"></script>
</head>
<body>

<div class="input-group mar-btm">
    <input placeholder="Search" class="form-control" type="text">
                        <span class="input-group-btn">
                            <button class="btn btn-mint" type="button"><i class="fa fa-search"></i> </button>
                        </span>
</div>
<div class="input-group mar-btm">
    <input type="text" placeholder="Search" class="form-control">
					                        <span class="input-group-btn">
					                            <button class="btn btn-mint" type="button">Search</button>
					                        </span>
</div>
<div class="panel">
					            <div class="panel-heading">
					                <h3 class="panel-title">Buttons Addons</h3>
					            </div>

					            <!--Buttons Addons-->
					            <!--===================================================-->
					            <form class="">
					                <div class="panel-body">
					                    <div class="input-group mar-btm">
					                        <span class="input-group-btn">
					                            <button class="btn btn-mint" type="button">Submit</button>
					                        </span>
					                        <input placeholder="Email" class="form-control" type="email">
					                    </div>
					                    <div class="input-group mar-btm">
					                        <input placeholder="Search" class="form-control" type="text">
					                        <span class="input-group-btn">
					                            <button class="btn btn-mint" type="button">Search</button>
					                        </span>
					                    </div>
					                    <div class="input-group mar-btm">
					                        <span class="input-group-btn">
					                            <button class="btn btn-mint" type="button"><i class="demo-pli-like"></i></button>
					                        </span>
					                        <input placeholder="Comment" class="form-control" type="text">
					                        <span class="input-group-btn">
					                            <button class="btn btn-mint" type="button"><i class="demo-pli-unlike"></i></button>
					                        </span>
					                    </div>
					                </div>
					            </form>
					            <!--===================================================-->
					            <!--End Buttons Addon-->

					        </div>

</body>
</html>