<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404 | Vesper </title>
{% load staticfiles %}

    <!--STYLESHEET-->
    <!--=================================================-->



    <!--Bootstrap Stylesheet [ REQUIRED ]-->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">


    <!--Nifty Stylesheet [ REQUIRED ]-->
    <link href="{% static 'css/nifty.css' %}" rel="stylesheet">


    <!--JAVASCRIPT-->
    <!--=================================================-->


    <!--jQuery [ REQUIRED ]-->
    <script src="{% static 'js/jquery-2.2.3.min.js' %}"></script>


    <!--BootstrapJS [ RECOMMENDED ]-->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>


    <!--NiftyJS [ RECOMMENDED ]-->
    <script src="{% static 'js/nifty.js' %}"></script>
</head>

<body>

		<!-- HEADER -->
		<!--===================================================-->
		<div class="cls-header">
		    <div class="cls-brand">
		        <a class="box-inline" href="http://www.themeon.net/nifty/v2.5/index.html">
		            <span class="brand-title">Vesper<span class="text-thin">Admin</span></span>
		        </a>
		    </div>
		</div>
		
		<!-- CONTENT -->
		<!--===================================================-->
		<div class="cls-content">
		    <h1 class="error-code text-info">404</h1>
		    <p class="text-main text-semibold text-lg text-uppercase">Page Not Found!</p>
		    <div class="pad-btm text-muted">
		        Sorry, but the page you are looking for has not been found on our server.
		    </div>
		    <div class="row mar-ver">
		        <form class="col-xs-12 col-sm-10 col-sm-offset-1" method="post" action="pages-search-results.html">
		            <input placeholder="Search.." class="form-control input-lg error-search" type="text">
		        </form>
		    </div>
		    <hr class="new-section-sm bord-no">
		    <div class="pad-top"><a class="btn-link" href="http://www.themeon.net/nifty/v2.5/index.html">Back to Homepage</a></div>
		</div>
		
		
	</div>
	<!--===================================================-->
	<!-- END OF CONTAINER -->


		


</body></html>