<div class="col-xs-5 col-md-4 col-lg-3">
  <h3>主机列表</h3>
  {% for group in request.user.hostgroup_set.prefetch_related %}
    <div class="panel-group" id="accordion-{{ group.id }}" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading-{{ group.id }}">
          <input type="checkbox" onclick="CheckAllToggle(this)" style="margin: auto 10px auto 0; float: left" title="全选" data="{{ group.id }}">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion-{{ group.id }}"
               href="#collapse-{{ group.id }}" aria-expanded="false" aria-controls="collapse-{{ group.id }}">
              <span class="badge pull-right">{{ group.bound_hosts.count }}</span>{{ group.name }}
            </a>
          </h4>
        </div>
        <div id="collapse-{{ group.id }}" class="panel-collapse collapse" role="tabpanel"
             aria-labelledby="heading-{{ group.id }}">
          <div class="panel-body">
            <ul class="list-group" id="list-group-{{ group.id }}">
              {% for bound_host in group.bound_hosts.all.select_related %}
                <li class="list-group-item">
                  <input type="checkbox" style="margin: auto 10px auto 0" title="选择主机" value="{{ bound_host.host.id }}">
                  {{ bound_host.host.hostname }}-{{ bound_host.host.ip_addr }}-{{ bound_host.host_user.username }}
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}

</div>
